@charset "UTF-8";
* {
  cursor: none;
}

html,
body {
  cursor: none;
  font-family: "Funnel Display", "Noto Sans KR", sans-serif;
  line-height: 1;
}

em {
  font-weight: 700;
}

h2 {
  font-size: 5rem;
  font-weight: 800;
}

h3 {
  font-size: 4rem;
  font-weight: 800;
}

h4 {
  font-size: 3rem;
  font-weight: 600;
}

a:focus-visible, button:focus-visible {
  outline: 4px solid rgba(138, 138, 138, 0.6509803922);
}

.default {
  background-color: #000000;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
}
.default.light {
  background-color: #ffffff;
  color: #000000;
}

header {
  z-index: 10;
  position: fixed;
  display: flex;
  width: 100%;
  padding: 1.5rem;
  top: 0;
  left: 0;
  font-size: 2.4rem;
  font-weight: 700;
  justify-content: center;
  color: #ffffff;
}
header .gnb {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 6px 6px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4rem;
}
header .gnb li {
  z-index: 10;
  position: relative;
}
header .gnb li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: background-color 0.4s ease-in-out;
}
header .gnb li a.active {
  background-color: rgba(0, 0, 0, 0.2);
}
header .gnb li span {
  position: absolute;
  opacity: 0;
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-weight: 400;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.4;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: opacity 0.4s ease-in-out;
}
header .gnb li span strong {
  font-size: 24px;
  font-weight: 700;
}
header .gnb li:hover span {
  opacity: 1;
}
header.light {
  color: #000;
}

.inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
@media (max-width: 1280px) {
  .inner {
    margin: 0 5rem;
    max-width: 100%;
  }
}
@media (max-width: 1024px) {
  .inner {
    margin: 0 3rem;
  }
}
@media (max-width: 768px) {
  .inner {
    margin: 0 2rem;
  }
}
@media (max-width: 420px) {
  .inner {
    margin: 0 1rem;
  }
}

/** 메인 페이지 */
.main .hero {
  height: 100vh;
  padding: 100px 4rem 4rem;
}
.main .hero .grid-system {
  display: grid;
  width: 100%;
  height: 100%;
  background: #000;
  position: relative;
  /* 8열 × 4행 그리드, 필요에 따라 조정 */
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 4rem;
}
.main .hero .block {
  border-radius: 12px;
  background: linear-gradient(135deg, rgba(50, 50, 50, 0.9), rgba(20, 20, 20, 0.9));
  will-change: transform, opacity;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  /* 쉬머 애니메이션 레이어 */
}
.main .hero .block:not(.block--text)::before {
  display: block;
  left: 0;
  top: -150%;
  width: 100%;
  height: 250%;
  background: linear-gradient(120deg, transparent 0%, rgba(255, 255, 255, 0.05) 50%, transparent 100%);
  animation: shimmer 3.2s infinite ease-in-out alternate;
  pointer-events: none;
  z-index: 1;
}
.main .hero .block.toX::before {
  animation: shimmer 2.4s infinite ease-in-out alternate 0.2s;
}
@keyframes shimmer {
  0% {
    transform: translateY(60%);
  }
  100% {
    transform: translateY(0%);
  }
}
.main .hero .block--1 {
  border-top-left-radius: 12rem;
}
.main .hero .block--2 {
  border-bottom-left-radius: 12rem;
  border-bottom-right-radius: 12rem;
}
.main .hero .block--3 {
  border-top-right-radius: 24rem;
  border-bottom-left-radius: 24rem;
}
.main .hero .block--4 {
  border-top-left-radius: 24rem;
  border-top-right-radius: 24rem;
}
.main .hero .block--5 {
  border-top-left-radius: 12rem;
  border-top-right-radius: 12rem;
  border-bottom-right-radius: 12rem;
}
.main .hero .block--6 {
  border-top-left-radius: 12rem;
  border-top-right-radius: 12rem;
}
.main .hero .block--7 {
  border-radius: 30rem;
}
.main .hero .block--8 {
  border-top-left-radius: 12rem;
  border-top-right-radius: 12rem;
  border-bottom-left-radius: 12rem;
}
.main .hero .block--9 {
  border-top-left-radius: 12rem;
  border-top-right-radius: 12rem;
}
.main .hero .block--10 {
  border-top-left-radius: 24rem;
  border-bottom-left-radius: 24rem;
  border-bottom-right-radius: 24rem;
}
.main .hero .block--11 {
  border-top-left-radius: 12rem;
  border-bottom-right-radius: 12rem;
  border-bottom-left-radius: 12rem;
}
.main .hero .block--12 {
  border-bottom-right-radius: 24rem;
}
.main .hero .block--1 {
  grid-column: 1/span 1;
  grid-row: 1/span 2;
}
.main .hero .block--2 {
  grid-column: 2/span 2;
  grid-row: 1/span 1;
}
.main .hero .block--3 {
  grid-column: 4/span 4;
  grid-row: 1/span 1;
}
.main .hero .block--4 {
  grid-column: 8/span 1;
  grid-row: 1/span 3;
}
.main .hero .block--5 {
  grid-column: 2/span 3;
  grid-row: 2/span 1;
}
.main .hero .block--6 {
  grid-column: 7/span 1;
  grid-row: 2/span 1;
}
.main .hero .block--7 {
  grid-column: 1/span 2;
  grid-row: 3/span 2;
}
.main .hero .block--8 {
  grid-column: 3/span 1;
  grid-row: 3/span 1;
}
.main .hero .block--9 {
  grid-column: 4/span 2;
  grid-row: 3/span 1;
}
.main .hero .block--10 {
  grid-column: 6/span 2;
  grid-row: 3/span 2;
}
.main .hero .block--11 {
  grid-column: 3/span 3;
  grid-row: 4/span 1;
}
.main .hero .block--12 {
  grid-column: 8/span 1;
  grid-row: 4/span 1;
}
.main .hero .block--text {
  position: absolute;
  left: calc(50% + 2rem);
  top: calc(25% + 1rem);
  width: calc(25% - 3rem);
  height: calc(25% - 3rem);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 4rem;
  color: #ffffff;
  font-size: 5rem;
  font-weight: 600;
  background: transparent;
  box-shadow: none;
}
.main .hero .block--text .hero-text {
  width: 38rem;
}
.main .hero .block--text .hero-yes strong {
  color: #008dff;
}
.main .hero .block--text .hero-here strong {
  color: #ce2cff;
}
.main .hero .block--text .hero-ready strong {
  color: #fd30ae;
}
.main .hero .block--clone {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 100%;
  align-self: center;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.05) 80%, transparent 100%);
}
.main .here {
  padding: 100px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.main .here h2 {
  margin-bottom: 2.4rem;
}
.main .here .posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  gap: 4rem;
}
@media (max-width: 1024px) {
  .main .here .posts {
    grid-template-columns: 1fr;
  }
}
.main .here .posts .title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.main .here ul.study {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}
.main .here ul.study li a {
  display: block;
  border: 2px solid #fff;
  padding: 2rem 3rem;
  border-radius: 5rem;
  transition: border-radius 0.4s ease-in-out;
}
.main .here ul.study li a i {
  font-size: 1.4rem;
  font-weight: 300;
  vertical-align: top;
  opacity: 0.8;
}
.main .here ul.study li a p {
  font-weight: 700;
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .here ul.study li a:hover {
  border-radius: 2rem;
}
.main .here .morphin-text {
  background: #ffffff;
  color: #000;
  border-radius: 4rem;
  height: 100%;
  font-size: 12rem;
  line-height: 12rem;
}
@media (max-width: 1024px) {
  .main .here .morphin-text {
    height: 30rem;
    order: -1;
    font-size: 8rem;
    line-height: 8rem;
  }
}
.main .here .quick-buttons {
  display: flex;
}
.main .here .quick-more {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}
.main .here .quick {
  display: inline-flex;
  height: 4rem;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  background-color: #ffffff;
  color: #000;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
}
.main .here .quick svg {
  width: 2rem;
  height: 2rem;
}
.main .here .quick .icon {
  width: 2.4rem;
  height: 2.4rem;
}
.main .here .quick:not(:has(.icon)) {
  padding-left: 2rem;
}
.main .here ul.list li {
  width: 4rem;
  height: 4rem;
  padding: 8px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8784313725);
  color: #000;
}
.main .ready {
  min-height: 51vh;
  position: relative;
  padding: 10rem 0 20rem;
}
.main .ready h2 {
  margin-bottom: 2.4rem;
}
@media (max-width: 1024px) {
  .main .ready h2,
  .main .ready p {
    padding: 0 1.4rem;
  }
}
.main .ready .text-container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  word-break: keep-all;
  font-size: 2rem;
  line-height: 1.4;
}
@media (max-width: 1280px) {
  .main .ready .text-container {
    font-size: 1.8rem;
  }
}
@media (max-width: 1024px) {
  .main .ready .text-container {
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media (max-width: 640px) {
  .main .ready .text-container {
    font-size: 1.6rem;
  }
}
.main .ready .text-container > p {
  padding-top: 1.6rem;
}
.main .ready .text-container form {
  width: 50%;
}
@media (max-width: 1280px) {
  .main .ready .text-container form {
    width: 55%;
  }
}
@media (max-width: 1024px) {
  .main .ready .text-container form {
    width: 100%;
  }
}
.main .ready .text-container form .editor:has(input:focus),
.main .ready .text-container form .editor:has(textarea:focus) {
  background-color: rgba(255, 255, 255, 0.1019607843);
}
.main .ready .text-container form .editor {
  padding: 16px 3.2rem 8px;
  margin-bottom: 8px;
  border-radius: 8rem;
}
@media (max-width: 1024px) {
  .main .ready .text-container form .editor {
    padding: 12px 14px 4px;
  }
}
.main .ready .text-container form .editor label {
  display: inline-flex;
  margin-bottom: 8px;
  align-items: center;
  gap: 1.6rem;
}
.main .ready .text-container form .editor label > span,
.main .ready .text-container form .editor .answer > span {
  background-color: #00e79c;
  color: #000;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  flex-shrink: 0;
}
.main .ready .text-container form .editor input,
.main .ready .text-container form .editor textarea {
  width: 100%;
  height: 4.8rem;
  padding: 0;
  border-radius: 8px;
  background-color: transparent;
}
.main .ready .text-container form .editor input::placeholder,
.main .ready .text-container form .editor textarea::placeholder {
  color: #727272;
  font-weight: 400;
}
.main .ready .text-container form .editor input:focus,
.main .ready .text-container form .editor textarea:focus {
  outline: none;
}
.main .ready .text-container form .editor textarea {
  resize: none;
  min-height: 4.8rem;
  padding: 1rem 0;
}
.main .ready .text-container form .editor .answer {
  display: flex;
  gap: 1.6rem;
}
.main .ready .text-container form .editor .answer > span {
  line-height: 48px;
  margin-top: 1rem;
  background-color: #008dff;
}
.main .ready .text-container form .toggle-switch {
  display: inline-block;
  margin-left: 2rem;
  vertical-align: middle;
}
.main .ready .text-container form .toggle-switch button {
  font-size: 1.6rem;
  font-family: "PretendardVariable", sans-serif;
  background-color: rgba(255, 255, 255, 0.1764705882);
  border-radius: 2rem;
}
@media (max-width: 1280px) {
  .main .ready .text-container form .toggle-switch button {
    font-size: 1.4rem;
  }
}
@media (max-width: 640px) {
  .main .ready .text-container form .toggle-switch button {
    font-size: 1.2rem;
  }
}
.main .ready .text-container form .toggle-switch button span {
  display: inline-block;
  margin: 0;
  padding: 4px 16px;
  border-radius: 2rem;
  transition: background-color 0.4s ease-in-out;
}
.main .ready .text-container form .toggle-switch button span.active {
  background-color: rgba(255, 255, 255, 0.1764705882);
}
.main .ready .text-container form .button-wrap {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
.main .ready .text-container form .button-wrap button {
  padding: 8px 2rem;
  background-color: #9d1f5d;
  color: #eeeeee;
  border-radius: 3rem;
  font-size: 1.63rem;
}
.main .ready .text-container form .button-wrap .next,
.main .ready .text-container form .button-wrap .submit {
  background-color: #FD30AE;
  color: #fff;
}
.main .ready .text-container form .preview {
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.1764705882);
  padding: 2rem 2rem;
  margin-bottom: 2rem;
}
.main .ready .text-container form .preview p {
  padding: 1rem;
}
.main .ready .text-container form .preview .date {
  font-size: 1.4rem;
  line-height: 1.5;
}
.main .ready .text-container form .preview dl {
  padding: 1rem;
  display: flex;
}
.main .ready .text-container form .preview dl dt {
  width: 12rem;
  display: inline-block;
  font-size: 1.6rem;
  border-radius: 2rem;
  padding: 4px 12px 4px 2rem;
  position: relative;
  flex-shrink: 0;
}
.main .ready .text-container form .preview dl dt::before {
  display: block;
  left: 0px;
  top: 0.2rem;
  content: "*";
  font-size: 2.4rem;
  color: #FD30AE;
}
.main .ready .text-container form .preview dl dd {
  display: inline-block;
  word-break: break-all;
  padding: 4px 0;
}
.main .ready .text-container form .preview .preview + .button-wrap {
  justify-content: space-between;
  padding-top: 3rem;
  margin-top: 2rem;
}
.main .ready .matters-text {
  width: 50%;
  height: calc(100vh - 200px);
  overflow: hidden;
}
@media (max-width: 1024px) {
  .main .ready {
    flex-direction: column-reverse;
  }
  .main .ready .text-container,
  .main .ready .matters-text {
    width: 100%;
  }
}

/* posts 상세페이지 */
.posts-page {
  padding: 100px 0;
  min-height: 100vh;
}
.posts-page .tabs {
  display: flex;
  margin-top: 1rem;
}
.posts-page .tabs button {
  padding: 4px 14px 6px;
  border: 1px solid #ffffff;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.posts-page .tabs button.active {
  border: 1px solid #000;
  border-bottom: none;
}
.posts-page .text-animation {
  z-index: 0;
  position: absolute;
}
.posts-page .scroll-list {
  max-height: calc(100vh - 320px);
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.posts-page .scroll-list::-webkit-scrollbar {
  background-color: #ffffff;
  width: 8px;
  height: 8px;
}
.posts-page .scroll-list::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.posts-page .scroll-list::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 0;
  border: none;
  border-left: 4px solid #fff;
}
.posts-page ul {
  font-size: 1.6rem;
}
.posts-page ul li {
  border-bottom: 1px solid #000;
}
.posts-page ul li:last-child {
  border-bottom: none;
}
.posts-page ul li:nth-child(2n-1) {
  border-right: 1px solid #000;
}
.posts-page ul li:nth-child(2n) {
  border-left: 1px solid #000;
}
.posts-page ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
}
.posts-page ul li a span {
  flex-shrink: 0;
  flex-grow: 0;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  background-color: #000;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.posts-page ul li a p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  z-index: 10;
  position: fixed;
  height: 44px;
  padding: 10px;
  bottom: 0;
  left: 0;
  text-align: center;
}

/* 전역 컴포넌트 */
.hover-circle {
  will-change: transform, width, height, background-color;
}

#recaptcha-container {
  min-height: 7.8rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
}